*{
    box-sizing: border-box;
}

body{
    background-color: rgb(17, 107, 172);
    height: 100vh;
    margin: 0;

    justify-content: center;
    align-items: center;
    text-align: center;
}

header{
    font-size: 4vmin;
    color: rgb(112, 153, 189);
    /*letter-spacing: 1vmin;*/

}

.wrappper {

    width: 100%;
    margin: 0 auto;
}

button{
    border-radius: 5px;
    border: solid 1px white;
    color: white;
    width: 35px;
    height: 35px;
    margin: 0 10px 10px 0;
    outline: none;
}

button:hover{
    transition: .5s;
    background: rgb(80, 72, 72);
    border: solid 1px rgb(96, 89, 89);
    color: white;
}

#restart{
    width: 50px;
    height: 35px ;
    color: black;
    background: red;
}

#restart:hover{
    background: rgb(227, 126, 126);
}

#hint{
    width: 50px;
    background-color: rgb(216, 230, 143);
    color: black;
}
#hint:hover{
    background: rgb(138, 82, 82);
}